<section class="resume-section">
  <div class="btn-wrapper">
    <a href="assets/LucasOrtiz_CV.pdf" download class="download-btn">
      Descargar CV
    </a>
  </div>

  <div class="profile">
    <img src="assets/FotoColacionHDComprimida.jpg" alt="Tu Nombre" class="profile-image" />
    <div class="available">Abierto a propuestas</div>
  </div>

  <!-- INFORMACIÓN PRINCIPAL -->
  <div class="info-grid">
    <div class="info-labels">
      <p>Puesto</p>
      <p>Ubicación</p>
      <p>Email</p>
      <p>Website</p>
    </div>
    <div class="info-values">
      <p>Frontend Developer</p>
      <p>Villa María, Córdoba, Argentina</p>
      <p><a href="teiteortiz@gmail.com">teiteortiz&#64;gmail.com</a></p>
      <p><a href="portfolio-angular-ortiz-lucas.netlify.app"
          target="_blank">portfolio-angular-ortiz-lucas.netlify.app</a></p>
    </div>
  </div>

  <!-- ABOUT -->
  <div class="resume-block">
    <div class="block-title">Sobre mí</div>
    <div class="block-content">
      Estudiante avanzado de Ingeniería en Sistemas de Información, con enfoque en desarrollo frontend. Experiencia práctica creando interfaces modernas, accesibles y responsivas. Comprometido con el aprendizaje continuo y las buenas prácticas de desarrollo web.
    </div>
  </div>

  <!-- EDUCACIÓN -->
  <div class="resume-block">
    <div class="block-title">Educación</div>
    <div class="block-content">
      <strong> Ingeniería en Sistemas de Información</strong> - Universidad Tecnológica Nacional - Facultad Regional Villa María<br />
      2019 - Actualidad
    </div>
    <div class="block-content">
      <strong> Bachiller con orientación en Economía</strong> - Escuela superior El Nacional<br />
      2013 - 2018
    </div>
  </div>

  <!-- SKILLS -->
  <div class="resume-block">
    <div class="block-title">Habilidades Técnicas</div>
    <div class="block-content">
      Angular, React, Java, Python, Spring Boot, HTML, CSS, JavaScript, TypeScript, SQL Server, PostgreSQL, Github, Docker.
    </div>
  </div>

  <!-- CONTACTO -->
  <div class="resume-block">
    <div class="block-title">Contacto</div>
    <div class="block-content">
      Email: <a href="teiteortiz@gmail.com">teiteortiz&#64;gmail.com</a><br />
      GitHub: <a href="github.com/LucasOrtiz5">github.com/LucasOrtiz5</a><br />
      LinkedIn: <a href="https://www.linkedin.com/in/lucas-ortiz-95607a226/">linkedin.com/in/lucas-ortiz</a>
    </div>
  </div>
</section>