<section class="areas-section">
    <div class="areas-grid">
        <!-- Primera fila -->
        <div class="area-item">
            <div class="lottie-bg">
                <lottie-player src="assets/animations/Animation-frontend.json" background="transparent" speed="1" loop
                    autoplay></lottie-player>
            </div>
            <div class="area-text">
                <h3>Frontend Development</h3>
                <p>Construcción de interfaces modernas, accesibles y responsivas.</p>
            </div>
        </div>

        <div class="area-item">
            <div class="lottie-bg">
                <lottie-player src="assets/animations/Animation-uiux.json" background="transparent" speed="1" loop
                    autoplay></lottie-player>
            </div>
            <div class="area-text">
                <h3>UI Implementation</h3>
                <p>Traducción precisa de diseños en experiencias reales usando HTML, CSS y Angular.</p>
            </div>
        </div>

        <!-- Segunda fila -->
        <div class="area-item">
            <div class="lottie-bg">
                <lottie-player src="assets/animations/Animation-continuouslearning.json" background="transparent"
                    speed="1" loop autoplay></lottie-player>
            </div>
            <div class="area-text">
                <h3>Web Performance</h3>
                <p>Optimización de carga, interactividad y eficiencia en sitios web.</p>
            </div>
        </div>

        <div class="area-item">
            <div class="lottie-bg">
                <lottie-player src="assets/animations/Animation-webperformance.json" background="transparent" speed="1"
                    loop autoplay></lottie-player>
            </div>
            <div class="area-text">
                <h3>Continuous Learning</h3>
                <p>Actualización constante en tecnologías modernas y buenas prácticas.</p>
            </div>
        </div>
    </div>
</section>